<section class="calculate">
    <div class="calculate__top_links">
        <a href="#" class="calculate__top_link active">«СБМ»</a>
        <a href="#" class="calculate__top_link">«Салаватметалл»</a>
    </div>
    <div class="container">
        <div class="calculate__content">
            <div class="calculate__breadcrumbs breadcrumbs">
                <a href="/" class="breadcrumbs__link this--home"></a>
                <span class="breadcrumbs__link this--disabled">Расчетный счет СБМ</span>
            </div>
            <div class="calculate__row">
                <div class="calculate__left">
                    <h1 class="calculate__title">Подать заявку<br>
                        на расчет цены</h1>
                    <div class="calculate__text">
                        Рады ответить на ваши вопросы<br>
                        по номеру телефона 8-800-234-64-60
                    </div>
                    <div class="calculate__img">
                        <img src="img/calculate/img.jpg" alt="">
                    </div>
                    <div class="calculate__time footer__time">местное время: <span class="js_footer_time">11:02</span></div>
                </div>
                <form action="#" name="calculate_form" class="calculate__form js_calculate_form">
                    <div class="calculate__form_row">
                        <div class="calculate__form_input_wrapper">
                            <div class="calculate__form_input_title">Электронная почта</div>
                            <input type="text" class="calculate__form_input js_only_eng js_required_input" name="email" placeholder="введите ваш e-mail">
                            <span class="calculate__form_input_error">Обязательно укажите ваш e-mail</span>
                        </div>
                        <div class="calculate__form_input_wrapper">
                            <div class="calculate__form_input_title">Контактное лицо</div>
                            <input type="text" class="calculate__form_input js_only_rus js_required_input" name="name" placeholder="введите ваше ФИО">
                            <span class="calculate__form_input_error">Обязательно укажите контактное лицо</span>
                        </div>
                        <div class="calculate__form_input_wrapper">
                            <div class="calculate__form_input_title">Телефон</div>
                            <input type="text" class="calculate__form_input js_tel_mask js_required_input" name="tel" placeholder="введите ваш телефон для связи">
                            <span class="calculate__form_input_error">Обязательно укажите ваш телефон</span>
                        </div>
                        <div class="calculate__form_input_wrapper">
                            <div class="calculate__form_input_title">Город</div>
                            <input type="text" class="calculate__form_input js_only_rus js_required_input" name="city" placeholder="введите ваш город">
                            <span class="calculate__form_input_error">Обязательно укажите ваш город</span>
                        </div>
                        <div class="calculate__form_input_wrapper this--select">
                            <div class="calculate__form_input_title">Продукция</div>
                            <select name="product" placeholder="продукт" class="calculate__form_select js_calculate_form_select js_required_input">
                                <option selected disabled value="">продукт</option>
                                <option value="1">PG58-22 ГОСТ Р 58400.1-2019</option>
                                <option value="2">РG58-28 ГОСТ Р 58400.1-2019</option>
                                <option value="3">РG58-34 ГОСТ Р 58400.1-2019</option>
                                <option value="4">РG70-40 ГОСТ Р 58400.1-2019</option>
                                <option value="5">РG70-40 ГОСТ Р 58400.1-2019</option>
                                <option value="6">РG70-40 ГОСТ Р 58400.1-2019</option>
                                <option value="7">РG70-40 ГОСТ Р 58400.1-2019</option>
                                <option value="8">РG70-40 ГОСТ Р 58400.1-2019</option>
                            </select>
                            <span class="calculate__form_input_error">Выберите продукт</span>
                        </div>
                        <div class="calculate__form_input_wrapper">
                            <div class="calculate__form_input_title">Количество в тоннах</div>
                            <input type="text" class="calculate__form_input js_only_number js_required_input" name="name" placeholder="напишите кол-во в тоннах">
                            <span class="calculate__form_input_error">Обязательно укажите ваши ФИО</span>
                        </div>
                        <div class="calculate__form_input_wrapper this--textarea">
                            <div class="calculate__form_input_title">Напишите сообщение</div>
                            <textarea class="calculate__form_input this--textarea" name="message" placeholder="Введите текст сообщения"></textarea>
                        </div>
                    </div>
                    <div class="calculate__form_bottom">
                        <div class="calculate__form_agree">Нажимая кнопку «Отправить», вы соглашаетесь на обработку персональных данных.</div>
                        <button class="calculate__form_btn btn_arrow"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Отправить</span><span class="btn_arrow__arrow"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>