.products_detail {
  background: radial-gradient(109.57% 52.55% at 61.64% 50.04%, #3C3C3C 0%, #202020 78.38%);
  padding: 130px 0 132px;

  @media ($tablet) {
    padding: 113px 0 68px;
  }
}
.products_detail__content {
  padding-top: 94px;

  @media ($tablet) {
    padding-top: 24px;
  }
}
.products_detail__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  padding: 16px 30px 22px;
  border-top: 1px solid rgba(255, 255, 255, 0.40);

  @media ($desktopBig) {
    gap: 30px;
  }
  @media (max-width: 1100px) {
    gap: 0;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -10px;
  }
}
.products_detail__link {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  opacity: 0.3;
  transition: opacity 0.25s;

  @media (max-width: 1100px) {
    width: calc(50% - 30px);
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: center;
  }

  &.active {
    opacity: 1;
  }

  &:hover {
    @media #{$mouse-device} {
      opacity: 1;
    }
  }
}
.products_detail__standart {
  display: flex;
  flex-direction: column;
}
.products_detail__standart_link {
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  width: max-content;
  margin-top: 11px;
  opacity: 0.3;
  transition: opacity 0.25s;

  @media ($tablet3) {
    font-size: 1.6rem;
    margin-top: 8px;
  }

  &:first-child {
    margin-top: 0;
  }
  &.active {
    opacity: 1;
  }

  &:hover {
    @media #{$mouse-device} {
      opacity: 1;
    }
  }
}
.products_detail__title.h2_title {
  margin-top: 8px;
  color: #FFF;

  @media ($tablet3) {
    font-size: 2.7rem;
    line-height: 1.29;
    margin-top: 32px;
  }
}
.products_detail__row {
  margin-top: -85px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1400px) {
    flex-wrap: wrap;
  }
  @media ($desktop) {
    flex-direction: column;
    margin-top: 0;
  }
}
.products_detail__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 132px;
  max-width: 433px;

  @media ($desktop) {
    margin: 16px auto 0;
    max-width: 600px;
    order: 3;
    padding-top: 0;
  }
  @media ($tablet3) {
    max-width: none;
  }
}
.products_detail__left_text {
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  @media ($tablet3) {
    font-size: 1.6rem;
    line-height: normal;
  }
}
.products_detail__left_links {
  display: flex;
  align-items: center;
  margin-left: -19px;

  @media ($desktop) {
    margin-top: 40px
  }
}
.products_detail__left_link {
  margin-left: 19px;
  width: calc(50% - 19px);
}
.products_detail__center {
  width: 508px;
  margin: 0 50px;

  @media ($desktop) {
    margin: 0 auto;
    width: 588px;
    padding: 0 40px;
  }
  @media ($tablet3) {
    width: 100%;
  }
}
.products_detail__img {
  position: relative;
  padding-top: 124.8%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
.products_detail__img_link {
  position: absolute;
  top: calc(50% - 32.5px);
  width: 74px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: #454545;
  transition: background-color 0.25s;

  @media ($tablet3) {
    width: 48px;
    height: 43px;
    top: calc(50% - 21.5px);
  }

  &.this--left {
    left: -40px;
    transform: rotate(180deg);
  }
  &.this--right {
    right: -40px;
  }

  &:hover {
    @media #{$mouse-device} {
      background: #80FFD1;
      svg {
        path {
          stroke: #1D1D1D;
        }
      }
    }
  }

  svg {
    width: 36px;
    height: 36px;

    @media ($tablet3) {
      width: 24px;
      height: 24px;
    }

    path {
      transition: stroke 0.25s;
    }
  }
}
.products_detail__right {
  padding-bottom: 62px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 1400px) {
    width: 100%;
    padding-bottom: 0;
    margin-top: 30px;
  }
  @media ($desktop) {
    justify-content: center;
  }
}
.products_detail__right_text {
  color: #FFF;
  text-align: right;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.15;
  margin-left: -200px;

  @media ($desktopBig) {
    margin-left: 0;
  }
  @media (max-width: 1400px) {
    br {
      display: none;
    }
  }
  @media ($desktop) {
    text-align: center;
  }

  @media ($tablet3) {
    font-size: 2.7rem;
    text-align: left;
    line-height: 1.29;
  }
}