<section class="products_detail">
    <div class="products_detail__links">
        <a href="#" class="products_detail__link active">Материалы вяжущие нефтяные битумные</a>
        <a href="#" class="products_detail__link">Битум нефтяной дорожный вязкий</a>
        <a href="#" class="products_detail__link">Полимерно-битумные вяжущие</a>
        <a href="#" class="products_detail__link">Битумы нефтяные дорожные вязкие</a>
    </div>
    <div class="container">
        <div class="products_detail__content">
            <div class="products_detail__standart">
                <a href="#" class="products_detail__standart_link">ГОСТ Р 58400.2-2019</a>
                <a href="#" class="products_detail__standart_link active"> ГОСТ Р 58400.1-2019</a>
            </div>
            <h1 class="products_detail__title h2_title">РG58-28</h1>
            <div class="products_detail__row">
                <div class="products_detail__left">
                    <div class="products_detail__left_text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </div>
                    <div class="products_detail__left_links">
                        <a href="#" class="products_detail__left_link btn">Заказать</a>
                        <a href="#" class="products_detail__left_link btn this--transparent" download>Скачать паспорт</a>
                    </div>
                </div>
                <div class="products_detail__center">
                    <div class="products_detail__img">
                        <img src="img/products_detail/img.png" alt="">
                        <a href="#" class="products_detail__img_link this--left"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M4 12L20.0001 12M20.0001 12L12.9577 4.9576M20.0001 12L13.1108 18.8893" stroke="#33CC99"/>
                        </svg></a>
                        <a href="#" class="products_detail__img_link this--right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M4 12L20.0001 12M20.0001 12L12.9577 4.9576M20.0001 12L13.1108 18.8893" stroke="#33CC99"/>
                        </svg></a>
                    </div>
                </div>
                <div class="products_detail__right">
                    <div class="products_detail__right_text">Отгрузка в сутки<br> 1000 тонн</div>
                </div>
            </div>
        </div>
    </div>
</section>