<section class="calculate_thanks">
    <div class="container">
        <div class="calculate_thanks__content">
            <div class="calculate_thanks__body">
                <div class="calculate_thanks__logo">
                    <img src="img/calculate_thanks/logo.svg" alt="">
                </div>
                <div class="calculate_thanks__title h2_title">Cпасибо за заявку</div>
                <div class="calculate_thanks__text">Наш менеджер с вами свяжется
                    в ближайшее время</div>
                <a href="#" class="calculate_thanks__btn btn">Продолжить</a>
            </div>
        </div>
    </div>
</section>