<section class="factory_top">
    <div class="container">
        <div class="factory_top__content">
            <div class="factory_top__breadcrumbs breadcrumbs this--center this--wh">
                <a href="/" class="breadcrumbs__link this--home"></a>
                <a href="/" class="breadcrumbs__link">СБМ</a>
                <span class="breadcrumbs__link this--disabled">Преимущества</span>
            </div>
            <h1 class="h2_title factory_top__title">Преимущества «Современных<br> битумных материалов»</h1>
            <div class="factory_top__row">
                <div class="factory_top__column">
                    <div class="factory_top__card five_card">
                        <div class="five_card__text">
                            5 наливных эстакад для загрузки/отгрузки автотранспорта.
                        </div>
                    </div>
                    <div class="factory_top__card team_card">
                        <div class="team_card__title">Команда Профессионалов</div>
                        <div class="team_card__slider swiper-container">
                            <div class="team_card__slider_wrapper swiper-wrapper">
                                <div class="team_card__slider_slide swiper-slide">
                                    <div class="team_card__img">
                                        <img src="img/factory/team_img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team_card__slider_slide swiper-slide">
                                    <div class="team_card__img">
                                        <img src="img/factory/team_img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team_card__slider_slide swiper-slide">
                                    <div class="team_card__img">
                                        <img src="img/factory/team_img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team_card__slider_slide swiper-slide">
                                    <div class="team_card__img">
                                        <img src="img/factory/team_img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="team_card__link icon_link">Подробнее
                            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="28" viewBox="0 0 31 28" fill="none">
                                <path d="M8.88817 26.9474L15.5 27L22.1118 26.9474C22.6395 26.9432 23.1261 26.6621 23.3933 26.2071L26.7452 20.5002L30.007 14.739C30.2666 14.2805 30.2666 13.7195 30.007 13.261L26.7452 7.49983L23.3933 1.79291C23.1261 1.33794 22.6395 1.05683 22.1118 1.05263L15.5 1.00002L8.88817 1.05263C8.36055 1.05683 7.87393 1.33794 7.60671 1.79291L4.25476 7.49985L0.992991 13.261C0.733406 13.7195 0.733406 14.2805 0.992991 14.739L4.25481 20.5002L7.6067 26.2071C7.87393 26.6621 8.36055 26.9432 8.88817 26.9474Z" stroke="white"/>
                                <path d="M10 13.4556L20.4992 13.7248M20.4992 13.7248L16.0124 9.23792M20.4992 13.7248L16.0514 18.1726" stroke="white"/>
                            </svg>
                        </a>
                    </div>
                    <div class="factory_top__card transport_card">
                        <div class="transport_card__img">
                            <img src="img/factory/transport_img.svg" alt="">
                        </div>
                        <div class="transport_card__text">
                            Собственные битумовозы и железнодорожный транспорт.
                        </div>
                    </div>
                </div>
                <div class="factory_top__column">
                    <div class="factory_top__card regions_card">
                        <div class="regions_card__title">Поставки во все
                            регионы России и зарубеж</div>
                    </div>
                    <div class="factory_top__card park_card">
                        <div class="park_card__img">
                            <img src="img/factory/park_img.svg" alt="">
                        </div>
                        <div class="park_card__text">
                            Собственный резервуарный парк для готовой продукции на 60 000 тонн
                        </div>
                    </div>
                    <div class="factory_top__card frendly_card">
                        <div class="frendly_card__title">Дружелюбный подход к ведению бизнеса</div>
                        <div class="frendly_card__text">Индивидуальный и гибкий подход к каждому клиенту позволил нам приобрести не только надежных партнеров, но и друзей по всей России.</div>
                    </div>
                </div>
                <div class="factory_top__column">
                    <div class="factory_top__card care_card">
                        <div class="care_card__img">
                            <img src="img/factory/care_img.svg" alt="">
                        </div>
                        <div class="care_card__text">
                            Бережем<br> окружающую<br> среду
                        </div>
                    </div>
                    <div class="factory_top__card mission_card">
                        <div class="mission_card__title">Миссия</div>
                        <div class="mission_card__subtitle">«Купить высококачественный<br> битум - легко!»</div>
                        <div class="mission_card__text">Постоянное наличие широкой номенклатуры вяжущих, высокое качество реализуемой продукции, круглосуточная отгрузка и сопровождение позволяют снизить себестоимость дорожного строительства и увеличить сроки межремонтного обслуживания дорог.<br> Мы заботимся о наших партнерах!</div>
                    </div>
                    <div class="factory_top__card address_card">
                        <div class="address_card__img">
                            <img src="img/factory/address_img.svg" alt="">
                        </div>
                        <div class="address_card__city">г. Салават</div>
                        <div class="address_card__address">ул. Молодогвардейцев, 60, стр. 1</div>
                        <a href="#" class="address_card__link icon_link">Подробнее
                            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="27" viewBox="0 0 31 27" fill="none">
                                <path d="M7.6067 25.7071C7.87393 26.1621 8.36055 26.4432 8.88817 26.4474L15.5 26.5L22.1118 26.4474C22.6395 26.4432 23.1261 26.1621 23.3933 25.7071L26.7452 20.0002L30.007 14.239C30.2666 13.7805 30.2666 13.2195 30.007 12.761L26.7452 6.99978L23.3933 1.29291C23.1261 0.837942 22.6395 0.556833 22.1118 0.552635L15.5 0.500017L8.88817 0.552633C8.36055 0.556831 7.87393 0.83794 7.60671 1.29291L4.25479 6.9998L0.992991 12.761C0.733406 13.2195 0.733406 13.7805 0.992991 14.239L4.2548 20.0002L7.6067 25.7071Z" stroke="#1D1D1D"></path>
                                <path d="M10 12.9556L20.4992 13.2248M20.4992 13.2248L16.0124 8.73792M20.4992 13.2248L16.0514 17.6726" stroke="#1D1D1D"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>