<section class="news_detail">
    <div class="container">
        <div class="news_detail__content">
            <div class="news_detail__row">
                <div class="news_detail__left">
                    <div class="news_detail__breadcrumbs breadcrumbs">
                        <a href="/" class="breadcrumbs__link this--home"></a>
                        <span class="breadcrumbs__link this--disabled">статья - СБМ</span>
                    </div>
                    <div class="news_detail__date">Опубликовано: 23 апреля 2023 г.</div>
                    <div class="news_detail__title">Ежедневно СБМ осуществляет поставку более тысячи тонн битума и ПБВ.</div>
                    <div class="news_detail__img this--mobile">
                        <img src="img/news_detail/img.jpg" alt="">
                    </div>
                    <div class="news_detail__text">
                        <p>Это 50 битумовозов или 16 вагонов-цистерн. Для непрерывного налива вяжущего задействованы пять автомобильных и две железнодорожные эстакады, что позволяет избегать простоя транспорта при загрузке. Близость резервуарного парка СБМ к крупнейшим АБЗ региона, круглосуточная отгрузка и собственный транспорт дают возможность минимизировать сроки доставки битума. Поставки железнодорожным транспортом значительно расширяют географию использования вяжущих производства ООО «БИТУМ».</p>
                    </div>
                </div>
                <div class="news_detail__right">
                    <div class="news_detail__img this--desktop">
                        <img src="img/news_detail/img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>