.products_page {
  padding: 280px 0 265px;
  border-radius: 0 0 15px 15px;
  background: #1d1d1d;
  position: relative;
  z-index: 2;
  @media ($desktop) {
    padding: 180px 0 165px;
  }
  @media ($tablet) {
    padding: 142px 0 91px;
  }
}
.products_page__title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 85px;
  color: #ffffff;

  @media ($tablet) {
    margin-bottom: 47px;
    margin-top: 10px;
  }
}
.products__standart {
  margin-top: 53px;
  display: flex;
  align-items: center;
  gap: 40px;

  @media ($tablet3) {
    margin-top: 24px;
    margin-bottom: 74px;
    gap: 25px;
  }
}
.products__standart_link {
  opacity: 0.4;
  color: var(--white-white, #FFF);
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.16;
  transition: opacity 0.25s;

  @media ($tablet3) {
    font-size: 1.6rem;
    line-height: normal;
  }

  &.active {
    pointer-events: none;
    opacity: 1;
  }
  &:hover {
    @media #{$mouse-device} {
      opacity: 1;
    }
  }
}