<section class="products_page">
    <div class="container">
        <div class="products_page__content">
            <div class="products_page__breadcrumbs breadcrumbs this--center this--wh">
                <a href="/" class="breadcrumbs__link this--home"></a>
                <span class="breadcrumbs__link this--disabled">продукция</span>
            </div>
            <h1 class="h1_title products_page__title">Продукция</h1>
            <div class="products__top">
                <div class="products__filter">
                    <a href="#" class="products__filter_item active">Материалы вяжущие нефтяные битумные</a>
                    <a href="#" class="products__filter_item">Битум нефтяной дорожный вязкий</a>
                    <a href="#" class="products__filter_item">Полимерно-битумные вяжущие</a>
                    <a href="#" class="products__filter_item">Битумы нефтяные дорожные вязкие</a>
                </div>
                <div class="products__btns">
                    <div class="products__btn js_product_btn" data-type="plank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M3 13H5V11H3V13ZM3 17H5V15H3V17ZM3 9H5V7H3V9ZM7 13H21V11H7V13ZM7 17H21V15H7V17ZM7 7V9H21V7H7ZM3 13H5V11H3V13ZM3 17H5V15H3V17ZM3 9H5V7H3V9ZM7 13H21V11H7V13ZM7 17H21V15H7V17ZM7 7V9H21V7H7Z" fill="#80FFD1"/>
                        </svg>
                    </div>
                    <div class="products__btn js_product_btn active" data-type="card">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M3 5V19H21V5H3ZM19 11H15.67V7H19V11ZM13.67 11H10.34V7H13.67V11ZM8.33 7V11H5V7H8.33ZM5 17V13H8.33V17H5ZM10.33 17V13H13.66V17H10.33ZM15.67 17V13H19V17H15.67Z" fill="#80FFD1"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="products__standart">
                <a href="#" class="products__standart_link active">ГОСТ Р 58400.1-2019</a>
                <a href="#" class="products__standart_link">ГОСТ Р 58400.2-2019</a>
            </div>
            <div class="products__bottom js_products_bottom card">
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <a href="#" class="products__product product_item">
                    <div class="product_item__img_wr">
                        <div class="product_item__img_wr_top"></div>
                        <div class="product_item__img">
                            <img src="img/products/img.png" alt="">
                        </div>
                    </div>
                    <div class="product_item__code">РG58-22</div>
                    <div class="product_item__name">Материалы вяжущие нефтяные битумные</div>
                    <div class="product_item__standart">ГОСТ Р 58400.1-2019</div>
                    <div class="product_item__arrow">
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>