<section class="main_factory">
    <div class="main_factory__wrapper">
        <div class="container">
            <div class="main_factory__content">
                <div class="main_factory__left">
                    <h2 class="main_factory__title h2_title">Наша продукция -<br>
                        высокого качества</h2>
                    <div class="main_factory__text">
                        <p>Поставляем партнерам высококачественные вяжущие, изготовленные на заводе “БИТУМ” ( г. Салават ). Отмечанные российскими и  международными наградами в области качества </p>
                    </div>
                    <a href="#" class="main_factory__btn btn_arrow"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Подробнее</span><span class="btn_arrow__arrow"></span></a>
                </div>
                <div class="main_factory__right">
                    <div class="main_factory__img js_factory_img">
                        <img src="img/main/main_factory/img.png" class="this--desktop" alt="">
                        <img src="img/main/main_factory/img_mob.png" class="this--mobile" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>