<section class="main_chess">
    <div class="container">
        <div class="main_chess__content">
            <div class="main_chess__left">
                <div class="main_chess__icon">
                    <img src="img/factory/chess.svg" alt="">
                </div>
                <div class="main_chess__title">Superpave для суперасфальта</div>
                <div class="main_chess__text">
                    <p>Иновационная технология ориентирована на производство битума
                        в соответствии с температурными режимами, при которых эксплуатируется асфальтобетонное покрытие, благодаря чему  увеличивается срок межремонтного периода для дорог с 4 до 12 лет.</p>
                </div>
                <a href="#" class="main_chess__btn btn_arrow"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Подробнее</span><span class="btn_arrow__arrow"></span></a>
            </div>
            <div class="main_chess__right">
                <div class="main_chess__img">
                    <img src="img/factory/chess_img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
