<section class="main_chess">
    <div class="container">
        <div class="main_chess__content">
            <div class="main_chess__left">
                <div class="main_chess__icon">
                    <img src="img/main/main_chess/icon.svg" alt="">
                </div>
                <div class="main_chess__title">Сопровождение 24/7</div>
                <div class="main_chess__text">
                    <p>Осуществляем продажи, круглосуточную отгрузку и доставку автомобильным и железнодорожным транспортом.</p>
                </div>
                <a href="#" class="main_chess__btn btn_arrow"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Подробнее</span><span class="btn_arrow__arrow"></span></a>
            </div>
            <div class="main_chess__right">
                <div class="main_chess__img">
                    <img src="img/main/main_chess/img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
