<footer class="footer">
    <div class="footer__top">
        <div class="footer__run_string">
            <div class="footer__run_string_images marquee">
                <img src="img/footer/partner_1.png" alt="">
                <img src="img/footer/partner_2.png" alt="">
                <img src="img/footer/partner_4.png" alt="">
                <img src="img/footer/partner_1.png" alt="">
                <img src="img/footer/partner_2.png" alt="">
                <img src="img/footer/partner_3.png" alt="">
                <img src="img/footer/partner_1.png" alt="">
                <img src="img/footer/partner_2.png" alt="">
                <img src="img/footer/partner_4.png" alt="">
                <img src="img/footer/partner_1.png" alt="">
                <img src="img/footer/partner_2.png" alt="">
                <img src="img/footer/partner_3.png" alt="">
                <img src="img/footer/partner_1.png" alt="">
                <img src="img/footer/partner_2.png" alt="">
                <img src="img/footer/partner_4.png" alt="">
            </div>
            <div class="footer__run_string_images marquee" aria-hidden="true">
                <img src="img/footer/partner_1.png" alt="">
                <img src="img/footer/partner_2.png" alt="">
                <img src="img/footer/partner_4.png" alt="">
                <img src="img/footer/partner_1.png" alt="">
                <img src="img/footer/partner_2.png" alt="">
                <img src="img/footer/partner_3.png" alt="">
                <img src="img/footer/partner_1.png" alt="">
                <img src="img/footer/partner_2.png" alt="">
                <img src="img/footer/partner_4.png" alt="">
                <img src="img/footer/partner_1.png" alt="">
                <img src="img/footer/partner_2.png" alt="">
                <img src="img/footer/partner_3.png" alt="">
                <img src="img/footer/partner_1.png" alt="">
                <img src="img/footer/partner_2.png" alt="">
                <img src="img/footer/partner_4.png" alt="">
            </div>
        </div>
        <div class="footer__row">
            <div class="footer__left">
                <div class="footer__logo">
                    <img src="img/footer/footer_logo.png" class="this--desktop" alt="">
                    <img src="img/footer/footer_logo_mob.png" class="this--mobile" alt="">
                </div>
                <div class="footer__menu">
                    <div class="footer__menu_group">
                        <div class="footer__menu_title">Битум</div>
                        <ul class="footer__menu_links">
                            <li><a href="#" class="footer__menu_link">Главная</a></li>
                            <li><a href="#" class="footer__menu_link">О компании</a></li>
                            <li><a href="#" class="footer__menu_link">Команда</a></li>
                            <li><a href="#" class="footer__menu_link">Расчет стоимость</a></li>
                            <li><a href="#" class="footer__menu_link">Новости</a></li>
                            <li><a href="#" class="footer__menu_link">Тендер</a></li>
                            <li><a href="#" class="footer__menu_link">Вакансии</a></li>
                            <li><a href="#" class="footer__menu_link">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__menu">
                    <div class="footer__menu_group">
                        <div class="footer__menu_title">СБМ</div>
                        <ul class="footer__menu_links">
                            <li><a href="#" class="footer__menu_link">Главная</a></li>
                            <li><a href="#" class="footer__menu_link">Преимущество</a></li>
                            <li><a href="#" class="footer__menu_link">Продукция</a></li>
                        </ul>
                    </div>
                    <div class="footer__menu_group this--mt">
                        <div class="footer__menu_title">Cалаватметалл</div>
                        <ul class="footer__menu_links">
                            <li><a href="#" class="footer__menu_link">Главная</a></li>
                            <li><a href="#" class="footer__menu_link">Производство</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__contacts">
                    <div class="footer__address footer__contacts_item">453256, РБ, г. Салават, ул. Молодогвардейцев, 60, стр. 1</div>
                    <a href="tel:+78002346460" class="footer__tel footer__contacts_item">Телефон<br>8-800-234-64-60</a>
                    <a href="mailto:mail@sbitum.ru" class="footer__mail footer__contacts_item">Почта<br>mail@sbitum.ru</a>
                </div>
                <div class="footer__social">
                    <a href="#" class="footer__vk footer__social_item">Вконтакте</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom_group">
            <div class="footer__time">местное время: <span class="js_footer_time">11:02</span></div>
            <a href="#" class="footer__politic">Политика конфиденциальности</a>
        </div>
        <div class="footer__develope">
            <a href="#" class="footer__develope_link">
                <div class="footer__develope_link_top">Дизайн</div>
                <img src="img/footer/dis_logo_light.png" class="footer__dis_logo" alt="">
            </a>
            <a href="#" class="footer__develope_link">
                <img src="img/footer/dev_logo_light.png" class="footer__dev_logo" alt="">
            </a>
        </div>
    </div>
</footer>