<section class="main_top">
    <div class="main_top__top">
        <div class="container">
            <div class="main_top__top_content">
                <h1 class="main_top__top_title h1_title">«Современные битумные материалы»: вяжущие<br> от «А» до «Я»</h1>
                <a href="#" class="main_top__top_link btn_arrow"><span class="btn_arrow__arrow this--hover"></span><span class="btn_arrow__text">Подробнее</span><span class="btn_arrow__arrow"></span></a>
            </div>
        </div>
        <button class="main_top__top_btn js_main_top_btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                <path d="M24.2929 34.7071C24.6834 35.0976 25.3166 35.0976 25.7071 34.7071L32.0711 28.3431C32.4616 27.9526 32.4616 27.3195 32.0711 26.9289C31.6805 26.5384 31.0474 26.5384 30.6569 26.9289L25 32.5858L19.3431 26.9289C18.9526 26.5384 18.3195 26.5384 17.9289 26.9289C17.5384 27.3195 17.5384 27.9526 17.9289 28.3431L24.2929 34.7071ZM24 16L24 34L26 34L26 16L24 16Z" fill="white"/>
                <rect x="0.5" y="0.5" width="49" height="49" rx="24.5" stroke="white" stroke-opacity="0.5"/>
            </svg>
        </button>
    </div>
    <div class="main_top__body">
        <img class="main_top__body_bg" src="img/main/main_top/main_body_bg.jpg" alt="">
        <div class="container">
            <div class="main_top__body_content">
                <h2 class="h1_title main_top__body_title">Найди СВОЙ<br>
                    битум</h2>
                <div class="main_top__body_items">
                    <div class="main_top__body_item this--left">
                        <div class="main_top__body_img">
                            <img src="img/main/main_top/left_img.png" alt="">
                        </div>
                    </div>
                    <div class="main_top__body_item this--center">
                        <div class="main_top__body_img">
                            <img src="img/main/main_top/center_img.png" alt="">
                        </div>
                    </div>
                    <div class="main_top__body_item this--right">
                        <div class="main_top__body_img">
                            <img src="img/main/main_top/right_img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>